.avatar {
    border-radius: 50%;
    height: 354px;
    width: 100%;
    
}

.avatar-post {
    margin-top: 1rem; /* отступ сверху */
    font-size: 1.4rem; /* увеличить размер шрифта */
    text-align: center; /* выровнять текст по центру*/
}

.avatar-text {
    color: rgb(140, 140, 140); /* цвет текста - серый*/
    font-size: 1.1rem; /* увеличить размер шрифта */
    
    text-align: center; /* выровнять текст по центру*/
}

.product-image { /* Оформление фото товара */
    width: 100%; /* ширина 100% */
    border-radius: 0.5rem; /* скругление блока (углов) на 0.5rem */
    border: 1px solid rgb(210, 210, 210); /* рамка вокруг блока с шириной
    1px, сплошная, серая */
}

.product-name { /* Оформление наименования товара */
    font-size: 1.4rem; /* увеличить размер шрифта */
}

.product-description { /* Оформление описания товара */
    font-size: 1.1rem; /* увеличить размер шрифта */
    color: rgb(60, 60, 60); /* цвет текста - темно-серый*/
}

.product-price { /* Оформление цены товара */
    padding: 0.5rem; /* отступ внутри блока 0.5rem со всех сторон */
    border-radius: 0.5rem; /* скругление блока (углов) на 0.5rem */
    border: 1px solid rgb(210, 210, 210); /* рамка вокруг блока с шириной 1px, сплошная, серая */
    margin: 0 1rem; /* отступ по горизонтали 1rem */
}

.th:link {
    color: #3e3e66; /* Цвет ссылок */
    padding: 2px; /* Поля вокруг текста */ 
}
.th:hover {
    background: #bce6c2; /* Цвет фона под ссылкой */ 
    color: #ffe; /* Цвет ссылки */ 
} 